# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/

# sensitive files
android/app/google-services.json

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
